<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <%- include('./partials/_navbar.ejs') %>

</head>
<body>

  <h1>Welcome to PayPilot</h1>
  <p>Smater Bill Management, That Lets You Take Control Over Your Bills</p>
</body>

</html>
