  
  #chart-container {
      width: 80%;
      margin: 50px auto;
      background-color: #f9f9f9;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

   
    canvas {
      display: block;
      max-width: 100%;
      height: auto;
    }
a:link, a:visited {
background-color: #0940e5;
color: white;
padding: 5px 30px;
text-align: center;
text-decoration: none;
display: inline-block;
margin: 50px;
}
a:hover, a:active {
background-color: rgb(26, 255, 0);
}
    
    


