body {
    background-image:url('../pics/home.jpg');
    color:black;
    text-align: center;
    margin:250px;
}
.navbar {
  background-color: #333;
  padding: 3px 0px;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: cursive;
}

.nav-list ol {
  margin: 20px, 20px;
}

.nav-list a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: color 0.3s ease;
}

.nav-list a:hover {
  color: #00bcd4;
}


a:link, a:visited {
background-color: #5cf436;
color: white;
padding: 5px 30px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: larger;
margin: 50px;
}
a:hover, a:active {
background-color: rgb(0, 42, 255);
}

h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #59ff06;
    text-shadow: 1px 1px 1px black, 3px 3px 5px blue;
}
h2{
    margin: 100px;
    font-family:Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 1px black, 3px 3px 5px rgb(34, 253, 0);
    color: blue;
}
.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}




    